.loader-overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.loader-text {
  margin-top: 20px;
  font-family: var(--font-epilogue);
  font-weight: 700;
  font-size: 20px;
  color: var(--color-text-primary);
  text-align: center;
}
