.display-campaigns-title {
  font-family: var(--font-epilogue);
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text-primary);
  text-align: left;
}

.display-campaigns-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 26px;
}

.display-campaigns-loader {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.display-campaigns-empty {
  font-family: var(--font-epilogue);
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  color: #818183;
}
